body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* 禁用横向滚动条 */
}

#list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px; /* 确保底部按钮不会遮挡最后一个li */
}

#list li {
    height: 60px;
    width: 80%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* 确保子元素不会溢出 */
    margin-bottom: 15px;
}

#insertButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.animated-div {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.animated-div.show {
    opacity: 1;
}

.animated-div.odd {
    background-color: red;
}

.animated-div.even {
    background-color: blue;
}

.remove {
    animation: slide-out 0.5s forwards;
    /*animation: slide-out .25s infinite step-start both;*/
}

@keyframes slide-out {
    /*0% {
        !*transform: translateX(0);*!
        !*transform: translateY(100%);*!
        !*margin-bottom: 15px;*!
        opacity: 1;
        !*height: 100%;*!
    }
    25% {
        !*transform: translateY(75%);*!
        !*margin-bottom: 12px;*!
        opacity: 0.75;
        !*height: 75%;*!
    }
    50% {
        !*transform: translateY(50%);*!
        !*margin-bottom: 8px;*!
        opacity: 0.5;
        !*height: 50%;*!
    }
    75% {
        !*transform: translateY(25%);*!
        !*margin-bottom: 4px;*!
        opacity: 0.25;
        !*height: 25%;*!
    }
    100% {
        !*transform: translateX(100%);*!
        !*transform: translateY(0);*!
        !*margin-bottom: 0;*!
        opacity: 0;
        !*height: 0;*!
    }*/
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

